<% entries.each do |n|
  begin
    start_time = DateTime.parse(n.xpath("gd:when")[0]["startTime"])
    end_time   = DateTime.parse(n.xpath("gd:when")[0]["endTime"])

    from_shared_calendar = n.text.include?("andria")
    link_color = from_shared_calendar ? "#A47AE2" : "#7BD148"
%>
    <span style="color: <%= link_color %>;">
      <%= start_time.strftime("%h %d") %>
  <% unless start_time.strftime("%I:%M%P") == "12:00am" %>
      @
      <%= start_time.strftime("%I:%M%P") %>
    </span>
  <% end %>
    -
    <span style="color: #333;">
      <% text = n.css("title").text %>
      <%= image_tag("drink.png") if text =~ /birthday/i %>
      <%= image_tag("heart.png") if text =~ /anniversary/i %>
      <%= text %>
    </span>
    <br>
  <%
     rescue
       # not sure what's going on with this node.. rescue for now
     end
  %>
<% end %>