<div>
  <%= form_for(@checkin) do |f| %>
    <% if @checkin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@checkin.errors.count, "error") %> prohibited this checkin from being saved:</h2>

        <ul>
          <% @checkin.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_area :text, :rows => 3, :class => "xlarge", :style => "width: 90%; border: 1px solid #E5E5E5;" -%>

    <br>

    <%= f.submit :value => "Checkin", :class => "btn btn-primary" %> at <span id="timer"></span>

    <% if action_name == "edit" %>
      <div class="field">
        <%= f.label :created_at %>
        <br/>
        <%= f.datetime_select :created_at %>
      </div>

      <div class="field">
        <%= f.label :updated_at %>
        <br/>
        <%= f.datetime_select :updated_at %>
      </div>

      <div class="field ">
        <%= f.label :project_id %>
        <br/>
        <%= f.text_field :project_id %>
      </div>
    <% end %>

  <% end %>
</div>
<!--
TODO:
consider entity matching after-the-fact, or otherwise
always trying to link a check-in to its native source:

ie: Github, Foursquare, Facebook, Nag, Yelp, Mint, etc.
-->
