<h1>Listing Checkins</h1>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Project ID</th>
      <th>Touchpoint ID</th>
      <th>Text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @checkins.each do |checkin| %>
  <tr>
    <td><%= checkin.created_at %></td>
    <td><%= checkin.updated_at %></td>
    <td><%= checkin.project_id %></td>
    <td><%= checkin.touchpoint_id %></td>
    <td><%= checkin.text %></td>
    <td><%= link_to 'Show', checkin %></td>
    <td><%= link_to 'Edit', edit_checkin_path(checkin) %></td>
    <td><%= link_to 'Destroy', checkin, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Checkin', new_checkin_path %>
