<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<div id="timeline"></div>

<%= render file: 'partials/extras' %>
<%= render 'checkins/awaiting' %>

<div class="row">
  <div class="col-md-offset-2 col-md-4">

    <div class="row">
      <div class="col-md-12">
        <div class="greeting" style="margin-left: 94px;">
          <div class="row">
            <div class="col-md-6">
              Hi <%= @settings[:user] %>,
              <br>
              Pardon, what have you been up to?
            </div>
            <div class="col-md-6">
              <p style="text-align: right;">
                Sincerely,
                <br>
                Your Lovely Nag
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="media">
          <div class="media-left">
            <a class="pull-left" href="#">
              <img class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="/images/avatar.png">
            </a>
          </div>

          <div class="media-body">
            <%= render 'checkins/form' %>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="tags">
      Tags:
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span>
        <%= icon :tag %> upby8
      </span>
      <span>
        <%= icon :tag  %> wakeupearly
      </span>
      <span>
        <%= icon :tag %> dailyyoga
      </span>
      <span>
        <%= icon :tag %> bedby11
      </span>
      <span>
        <%= icon :tag %> weeklyreview
      </span>
    </div>

    <hr>

    <% if @checkins.present? %>
    <div class="checkins">
      <% last_checkin = nil %>
      <% @checkins.each do |checkin| %>
      <%= content_tag(:h5, checkin.created_at.strftime("%B %d"), style: "text-transform:uppercase;") unless (checkin.created_at.day == (last_checkin.day rescue nil)) %>
      <%= render 'checkins/one', { checkin: checkin } %>
      <% last_checkin = checkin.created_at %>
      <% end %>
    </div>
    <% end %>

    <div class="checkins">
      <% last_checkin = nil %>
      <% @latest_checkins.each do |checkin| %>
      <%= content_tag(:h5, checkin.created_at.strftime("%B %d"), style: "text-transform:uppercase;") unless (checkin.created_at.day == (last_checkin.day rescue nil)) %>
      <%= render 'checkins/one', { checkin: checkin } %>
      <% last_checkin = checkin.created_at %>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <h4>
        <%= icon 'hand-o-down' %>
        Pomodoro
      </h4>
      <div class="pomodoro">
        <div class="row">
          <div class="col-md-8">
            <%= text_field_tag 'date', Time.now, class: 'form-control' %>
          </div>
          <div class="col-md-4">
            <%= link_to raw("#{icon 'play'} Start"), "#", class: "btn btn-default start timer" %>
            <%# icon 'pause' %>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <h4>
      <%= icon :globe %>
      Geocode
    </h4>
    <div id="map-image"></div>

    <hr>

    <div>
      <%= render 'thoughts/form' %>
    </div>

    <div class="thoughts">
    </div>

    <hr>

    <%= render "partials/calendar", { entries: @entries } if @entries %>
  </div>
</div>

<script>
$(function() {
  $("#extras1").hide();
  $("#awaiting").hide();

  $("#show_helper1").click(function () {
    if ($(this).parent("li").hasClass("active") === true) {
      $(this).parent("li").removeClass("active");
    } else {
      $(this).parent("li").addClass("active");
    }
    $("#extras1").toggle();
  });

  $("#show_helper2").click(function () {
    if ($(this).parent("li").hasClass("active") === true) {
      $(this).parent("li").removeClass("active");
    } else {
      $(this).parent("li").addClass("active");
    }
    $("#awaiting").toggle();
  });
});
</script>
