<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<div id="timeline"></div>

<%= render file: 'partials/extras' %>
<%= render 'checkins/awaiting' %>

<div class="row">
  <div class="col-md-offset-2 col-md-4">

    <div class="row">
      <div class="col-md-12">
        <div class="greeting" style="margin-left: 94px;">
          <div class="row">
            <div class="col-md-6">
              Hi <%= @settings[:user] %>,
              <br>
              Pardon, what have you been up to?
            </div>
            <div class="col-md-6">
              <p style="text-align: right;">
                Sincerely,
                <br>
                Your Lovely Nag
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="media">
          <div class="media-left">
            <a class="pull-left" href="#">
              <img class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="/images/avatar.png">
            </a>
          </div>

          <div class="media-body">
            <%= render 'checkins/form' %>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="tags">
      Tags:
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span>
        <%= icon :tag %> upby8
      </span>
      <span>
        <%= icon :tag  %> wakeupearly
      </span>
      <span>
        <%= icon :tag %> dailyyoga
      </span>
      <span>
        <%= icon :tag %> bedby11
      </span>
      <span>
        <%= icon :tag %> weeklyreview
      </span>
    </div>

    <hr>

    <% if @checkins.present? %>
    <div class="checkins">
      <% last_checkin = nil %>
      <% @checkins.each do |checkin| %>
      <%= content_tag(:h5, checkin.created_at.strftime("%B %d"), style: "text-transform:uppercase;") unless (checkin.created_at.day == (last_checkin.day rescue nil)) %>
      <div class="body">
        <%= render 'checkins/one', { checkin: checkin } %>
        <% last_checkin = checkin.created_at %>
      </div>
      <% end %>
    </div>
    <% end %>

    <div class="checkins">
      <% last_checkin = nil %>
      <% @latest_checkins.each do |checkin| %>
      <%= content_tag(:h5, checkin.created_at.strftime("%B %d"), style: "text-transform:uppercase;") unless (checkin.created_at.day == (last_checkin.day rescue nil)) %>
      <div class="body">
        <%= render 'checkins/one', { checkin: checkin } %>
        <% last_checkin = checkin.created_at %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <h4>
        <%= icon 'hand-o-down' %>
        Pomodoro
      </h4>
      <div class="pomodoro">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div id="countdown-timer" style="padding: 1em; font-size: 2.5em; text-align: center;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="" style="text-align: center;">
              <%= link_to raw("#{icon 'step-backward'}"), "#", class: "btn btn-default reset timer" %>
              <%= link_to raw("#{icon 'play'} Start"), "#", class: "btn btn-default start timer" %>
              <%= link_to raw("#{icon 'stop'}"), "#", class: "btn btn-default stop timer" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <h4>
      <%= icon :globe %>
      Geocode
    </h4>
    <div id="map-image"></div>

    <hr>

    <div>
      <%= render 'thoughts/form' %>
    </div>

    <div class="thoughts">
    </div>

    <hr>

    <%= render "partials/calendar", { entries: @entries } if @entries %>
  </div>
</div>

<script>
$(function() {
  $("#extras1").hide();
  $("#awaiting").hide();

  $("#show_helper1").click(function () {
    if ($(this).parent("li").hasClass("active") === true) {
      $(this).parent("li").removeClass("active");
    } else {
      $(this).parent("li").addClass("active");
    }
    $("#extras1").toggle();
  });

  $("#show_helper2").click(function () {
    if ($(this).parent("li").hasClass("active") === true) {
      $(this).parent("li").removeClass("active");
    } else {
      $(this).parent("li").addClass("active");
    }
    $("#awaiting").toggle();
  });
});

var pomodoro = {
  stopClock: true,
  initialDuration: function() {
    return moment.duration({
      "hours": 0,
      "minutes": 25,
      "seconds": 0
    });
  },
  initialInterval: function() {
    return moment.duration({
      "seconds": 1
    });
  },
  duration: this.initialDuration,
  drawTimer: function() {
    var t = moment(duration.asMilliseconds()).format("mm:ss");
    $("#countdown-timer").text(t);
  },
  goTimer: function() {
    this.stopClock = false;
    var interval = this.initialInterval();

    var that = this;
    var loop = setInterval(function() {
      // escape out of this loop if stopClock is set
      if (that.stopClock === true) {
        clearInterval(loop);
        return false;
      }

      var t = duration.asSeconds();
      if(t <= 0) {
        stopTimer();
        alert("Time's Up");
        clearInterval(loop);
        return false;
      }

      duration = duration.subtract(interval);
      that.drawTimer();

    }, interval.asMilliseconds());
  },
  stopTimer: function() {
    this.stopClock = true;
  },
  resetTimer: function() {
    this.stopTimer();
    // reset duration
    duration = this.initialDuration();
    this.drawTimer();
  }
};

$(function() {

  // Specify the behaviors
  // for the Timer's buttons
  $(".start.timer").click(function() {
    pomodoro.stopTimer();
    pomodoro.goTimer();
  });

  $(".stop.timer").click(function() {
    pomodoro.stopTimer();
  });

  $(".reset.timer").click(function() {
    pomodoro.resetTimer();
  });

  // Initially Set the Timer
  // resetTimer();
  pomodoro.resetTimer()
});
</script>
