<div id="extras" class="row-fluid hide">
  <div class="span3">
    <div class="altitude">50,000 feet: Life</div>
    <div class="altitude">40,000 feet: 3-5-year Outlook</div>
    <div class="altitude">30,000 feet: 1-2 Goals</div>
    <div class="altitude">20,000 feet: Areas of Responsibility</div>
    <div class="altitude">10,000 feet: Current Projects</div>
    <div class="altitude">Runway: Current actions</div>
  </div>
  <div class="span3">
    <%= link_to "?", "#", :class => "help" %>
    <div class="altitude">
      <div class="context collect">
        <%= link_to "Collect", "/status/collect", :title => "Collect everything you can think of." %>
      </div>
      <p class="hint">Collect everything you can think of.</p>
    </div>
    <div class="altitude">
      <div class="context process">
        <%= link_to "Process", "/status/process", :title => "Decide what to do with each item in the Inbox." %>
        <p class="hint">Decide what to do with each item in the Inbox.</p>
      </div>
    </div>
    <div class="altitude">
      <div class="context organize">
        <%= link_to "Organize", "/status/organize", :title => "Organize items into the right buckets." %>
        <p class="hint">Organize by project and priority. Work from Calendar Tasks, then Trello.</p>
      </div>
    </div>
    <div class="altitude">
      <div class="context review">
        <%= link_to "Review", "/status/review", :title => "Review every day and once a week to keep the system up-to-date." %>
        <p class="hint">Review to regain context and focus, about once a week.</p>
      </div>
    </div>
    <div class="altitude">
      <div class="context do last">
        <%= link_to "Do", "/status/do", :title => "Do and make the best choices." %>
        <p class="hint">Get to work.</p>
      </div>
    </div>
  </div>
  <div class="span6">
    <%= render 'layouts/dashboard' %>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <hr/>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span3">
    <div class="row-fluid">
      <div class="span12">
        <h2>Checkins</h2>

        <div class="greeting">
          <p>
            Hi <%= @settings[:user] %>,<br/>
            Pardon, but what have you been up to?
          </p>

          <p>
            Sincerely, Your Lovely Nag
          </p>
        </div>
        <div class="checkins">
          <% last_checkin = nil %>
          <% Checkin.today.each do |checkin| %>
            <%= content_tag(:h5, checkin.created_at.strftime("%B %d"), :style => "text-transform:uppercase;") unless (checkin.created_at.day == (last_checkin.day rescue nil)) %>
            <div class="checkin" style="margin:  0 0 10px 0;">
              <p class="checkin">
                <span class="label label-success">
                  <%= link_to checkin.created_at.strftime("%I:%M%P"), edit_checkin_path(checkin) %>
                </span>
                <%= raw checkin.text %>
              </p>
            </div>
            <% last_checkin = checkin.created_at %>
          <% end %>
        </div>
        <%= render 'form' %>
        <div class="checkins">
          <% last_checkin = nil %>
          <% @latest_checkins.each do |checkin| %>
            <%= content_tag(:h5, checkin.created_at.strftime("%B %d"), :style => "text-transform:uppercase;") unless (checkin.created_at.day == (last_checkin.day rescue nil)) %>
            <div class="checkin" style="margin:  0 0 10px 0;">
              <p class="checkin">
                <span class="label label-success">
                  <%= link_to checkin.created_at.strftime("%I:%M%P"), edit_checkin_path(checkin) %>
                </span>
                <%= raw checkin.text %>
              </p>
            </div>
            <% last_checkin = checkin.created_at %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="span3">
    <div>
      <h2>Daily Processing</h2>
      <br>

      <!--
      TODO:
      allow these buttons to be pressed once per day.
      reset at midnight local time
      show a positive affirmation of completion
      -->

      <div>
        <button class="btn btn-primary" type="button">Mindsweep</button>
        <p class="hide">
          <br>
          Mindsweep - get everything out of your head!
        </p>
        <br><br>

        <button class="btn" type="button">Empty Inbox</button>
        <p class="hide">
          <br>
          Inbox to empty - Process everything from the inbox.
        </p>
      </div>

      <!--
      TODO:
      Is it Actionable? What is the desired outcome?
      Is the Trello task status 'fully actionable'?
      -->
    </div>

    <div>
      <h4>Awaiting</h4>
      Next Actions?
      Always up-to-date. ALWAYS FRESH
    </div>
  </div>

  <div class="span3">
    <h2>Trello + tasks</h2>

    <% labels = ["", "label-success", "label-warning", "label-important", "label-info", "label-inverse"] %>

    <% 80.times do %>
      <span class="label <%= labels.sample %>"><%= rand(98234898).to_s %></span>
    <% end %>

    <!--
       Consider dragging and dropping these items
    -->
    <h5>Other References</h5>
    File folders, Dropbox and local files
  </div>

  <div class="span3">
    <h2><%= Time.now.strftime("%a - %b %d, %Y") %></h2>

    <h3>Our Calendar</h3>
    <%= render :partial => "partials/calendar", :locals => { :entries => @shared_entries } %>
    <h3>Ryan's Calendar</h3>
    <%= render :partial => "partials/calendar", :locals => { :entries => @ryan_entries } %>
  </div>
</div>

<script>
  $(function () {
    $("#show_helper").click(function () {
      if ($(this).parent("li").hasClass("active") === true) {
        $(this).parent("li").removeClass("active");
      } else {
        $(this).parent("li").addClass("active");
      }
      $("#extras").toggle();
    });
  });
</script>
