<%
   @last_checkin = Checkin.last
   @checkins = Checkin.all.reverse[0..9]
%>
<script type="text/javascript">

    function timeMsg() {
        var t = setTimeout("alertMsg()", 60000 * 25);
    }
    function alertMsg() {
        alert("Nag.");
    }

    timeMsg();
</script>
<div class="row">
  <div class="span6 columns">
    <div class="greeting">
      <p>
        Hi Ryan,<br/>
        Sorry to bother, but what have you been up to?
      </p>

      <p>
        Sincerely, Your Lovely Nag
      </p>
    </div>

    <%= render 'form' %>
  </div>
  <div class="span10 columns">


    <% if @last_checkin %>
        <p>
          At <%= (@last_checkin[:created_at] - 8.hours).strftime("%I:%M%P") rescue nil %>
          you said you were:
        </p>

        <p class="last-checkin" style="padding: 20px; background-color: #ffffcc;">
          <%= @last_checkin[:text] %>
        </p>
        <hr/>
    <% end %>

    <h1>Checkins</h1>

    <p>
      <% @checkins.each do |checkin| %>
          <%= (checkin.created_at - 8.hours).strftime("%I:%M%P") %>
          <%= checkin.text %>
          <br/>
      <% end %>
    </p>

    <!--
       FEATURE:
       WHAT YOU SHOULD BE DOING (per Trello & Google Tasks)
    -->
  </div>
</div>