<%
   @last_checkin = Checkin.last
   @checkins = Checkin.all.reverse[1..10]
%>
<script type="text/javascript">

    function setMessage() {
        var minutes = 25;
        var t = setTimeout("alertMessage()", 60000 * minutes);
    }
    function alertMessage() {
        alert("Nag.");
    }

    setMessage();
</script>
<div class="row">
  <div class="span6 columns">
    <div class="greeting">
      <p>
        Hi Ryan,<br/>
        Pardon, but what have you been up to?
      </p>

      <p>
        Sincerely, Your Lovely Nag
      </p>
    </div>

    <%= render 'form' %>
  </div>
  <div class="span10 columns">

    <h1>Checkins</h1>

    <% if @last_checkin %>
        <span class="label success">
          <%= link_to (@last_checkin.created_at - 8.hours).strftime("%I:%M%P"), edit_checkin_path(@last_checkin) %>
        </span>

        <p class="last-checkin" style="padding: 20px; background-color: #ffffcc;">
          <%= @last_checkin[:text] %>
        </p>
    <% end %>

    <div class="checkins">
      <% @checkins.each do |checkin| %>
          <div class="checkin" style="margin:  0 0 10px 0;">
          <span class="label success">
            <%= link_to (checkin.created_at - 8.hours).strftime("%I:%M%P"), edit_checkin_path(checkin) %>
          </span>
            &nbsp;

            <%= checkin.text %>
          </div>
      <% end %>
    </div>

    <!--
       FEATURE:
       WHAT YOU SHOULD BE DOING (per Trello & Google Tasks)
    -->
  </div>
</div>