<%
   @last_checkin = Checkin.last
   @checkins = Checkin.all.reverse

   @since_last_checkin = Time.now - @last_checkin.created_at
%>
<%= @since_last_checkin %>
<script type="text/javascript">

    function timeMsg() {
        var t = setTimeout("alertMsg()", 60000 * 25);
    }
    function alertMsg() {
        alert("Nag.");
    }

    timeMsg();
</script>

<h2>
  Hi Ryan,
  Sorry to bother, but what have you been up to?
</h2>
<%= render 'form' %>

<% if @last_checkin %>
    <hr/>
    <p>
      At <%= @last_checkin[:created_at].strftime("%I:%M%P") rescue nil %>
      you said you were:
    </p>

    <p class="last-checkin" style="padding: 20px; background-color: #ffffcc;">
      <%= @last_checkin[:text] %>
    </p>
<% end %>

<hr/>
<h1>Checkins</h1>

<p>
  <% @checkins.each do |checkin| %>
      <%= (checkin.created_at - 8.hours).strftime("%I:%M%P") %>
      <%= checkin.text %>
      <br/>
  <% end %>
</p>

<!--
   FEATURE:
   WHAT YOU SHOULD BE DOING (per Trello & Google Tasks)
-->