<!DOCTYPE html>
<html>
<head>
  <title>Nag</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.7.1', 'bootstrap-dropdown' %>
  <%= csrf_meta_tag %>
  <script>
      // highlight the first
      function highlight_active_status(status) {
          $("." + status).first().addClass("active");
      }

      // on page load
      $(function () {
          $(".checkin").first().addClass("most-recent");
          highlight_active_status("<%= session["status"] %>");

      });
  </script>

  <!--
    <h1>"So what’s the next action here?"</h1>
  -->
</head>
<body>

<div data-dropdown="dropdown" class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <h3><a href="/checkins/new">Nag</a></h3>

      <ul class="nav secondary-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" href="#">Options</a>
          <ul class="dropdown-menu">
            <li><a href="/checkins/index">All Checkins</a></li>
            <li class="divider"></li>
            <li><a href="/checkins/data">Latest 100 as .json</a></li>
            <li>
              <a href="http://www.wikisummaries.org/Getting_Things_Done:_The_Art_of_Stress-Free_Productivity#Chapter_5_--_Collection:_Corralling_Your_.22Stuff.22a" target="_blank">GTD
                Reference</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /topbar-inner -->
</div>

<%
   @email_score = "164 completed"
   @google_tasks_score = 17
   @trello_score = 70
%>

<div class="container" style="margin-top: 40px;">

  <div class="row">
    <div class="span3 columns tiny">
      <div class="altitude">50,000 feet: Life</div>
      <div class="altitude">40,000 feet: 3-5-year Outlook</div>
      <div class="altitude">30,000 feet: 1-2 Goals</div>
      <div class="altitude">20,000 feet: Areas of Responsibility</div>
      <div class="altitude">10,000 feet: Current Projects</div>
      <div class="altitude">Runway: Current actions</div>
    </div>

    <div class="span3 columns tiny">
      <div class="altitude">
        <div class="context collect">
          <%= link_to "Collect", "/status/collect", :title => "Collect everything you can think of." %>
        </div>
        <p style="display:none;">Collect everything you can think of.</p>
      </div>
      <div class="altitude">
        <div class="context process">
          <%= link_to "Process", "/status/process", :title => "Decide what to do with each item in the Inbox." %>
          <p style="display:none;">Decide what to do with each item in the Inbox.</p>
        </div>
      </div>
      <div class="altitude">
        <div class="context organize">
          <%= link_to "Organize", "/status/organize", :title => "Organize items into the right buckets." %>
          <p style="display:none;">Organize by project and priority. Work from Calendar Tasks, then Trello.</p>
        </div>
      </div>
      <div class="altitude">
        <div class="context review">
          <%= link_to "Review", "/status/review", :title => "Review every day and once a week to keep the system up-to-date." %>
          <p style="display:none;">Review to regain context and focus, about once a week.</p>
        </div>
      </div>
      <div class="altitude">
        <div class="context do last">
          <%= link_to "Do", "/status/do", :title => "Do and make the best choices." %>
          <p style="display: none;">Get to work.</p>
        </div>
      </div>
    </div>

    <div class="span10 columns">
      <table class="condensed-table">
        <thead>
        <th>&nbsp;</th>
        <th>GMail</th>
        <th>Afomi Mail</th>
        <th>MQ Mail</th>
        <th>Google Tasks</th>
        <th>Trello</th>
        </thead>
        <tr>
          <td>Unread/Todo</td>
          <td>0</td>
          <td>2</td>
          <td>891</td>
          <td>60</td>
          <td>132</td>
        </tr>
        <tr>
          <td>Follow-Up</td>
          <td>17</td>
          <td>2</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Drafts</td>
          <td>30</td>
          <td>5</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Starred</td>
          <td>18</td>
          <td>40</td>
          <td>30</td>
        </tr>
        <tr style="background-color: #88ff7d;">
          <td>Read/Done Today</td>
          <td>18</td>
          <td>4</td>
          <td>35</td>
          <td>4</td>
          <td>2</td>
        </tr>
        <tr style="background-color: #fff885;">
          <td>Read This Week</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>

  </div>

  <hr/>

  <%= yield %>
</div>

</body>
</html>
