<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    Nag
  </title>

  <link rel="icon" type="image/png" href="/favicon.png" />
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>

<body>
<%= render "layouts/nav" %>
<div class="container-fluid" style="padding: 10px;">
  <%= yield %>
</div>
</body>

</html>
